<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
      <proxy proxyaddress="http://s1firewall:8080" bypassonlocal="True" usesystemdefault="True" />
      <bypasslist>
        <add address="mists02|192.*|10.*" />
      </bypasslist>
    </defaultProxy>

    <connectionManagement>
      <add address="*" maxconnection="10" />
    </connectionManagement>
  </system.net>
</configuration>